<%- include('partials/header') %>

<div class="container-fluid d-flex flex-wrap my-2 my-md-5 px-0 px-md-5">
  <div class="col-12 col-md-6">
    <img id="mainImg" class="img-fluid" src="<%= element.link %>">
  </div>
  <!-- MODAL -->
  <div id="myModal" class="modal">
    <img id="modalImg" class="modal-content" src="<%= element.link %>" >
    <div class="modal-caption"><%= element.name %></div>
  </div>
  
  <div class="col-12 col-md-6 px-4 py-3 py-md-0">
    <div class="row d-flex justify-content-between">
      <h3 class="border-secondary border-bottom text-white d-inline-block pb-1">
      <%= element.name %>
      </h3>
      <% if (currentUser) {
         if (element.user.username === currentUser.username) { %>
        <div class="col-1">
          <form action="/elements/<%= element._id %>/remove" method="POST">
            <button type="submit" class="close text-white" aria-label="Remove element">
              <span aria-hidden="true">&times;</span>
            </button>
          </form>
        </div>	
      <% } 
      } %>
    </div>
    <div class="row">
      <h6 class="border-secondary border-bottom text-light d-inline-block pb-1">
        Uploaded: <%= element.user.username || 'Unknown' %>
      </h6>
    </div>
    <div class="row align-items-center">
      <span class="text-warning d-inline-block">
        Tags: 
      </span>
      <% for(tag of element.tags) { %>
        <button class="btn btn-outline-warning btn-sm mx-1" disabled> <%= tag %> </button>
      <% } %>
    </div>
    <div class="row">
      <span class="text-white">
        <%= element.description %>
      </span>
    </div>	
  </div>
</div>

<% if (element.comments.length > 0) { %>
<div class="container bg-light border rounded my-0 my-md-5">
	<% for(let com of element.comments) { %>
		<div class="row my-1 py-1 border-bottom justify-content-between">
			<div class="col pb-1">
				<h5 class="pb-1">
					<%= com.author %>
				</h5>
				<%= com.text %>
			</div>
			<% if (com.author === user.username) { %>
			<div class="col-1">
				<form action="/elements/<%= element._id %>/comment/<%= com._id %>/remove" method="POST">
					<button type="submit" class="close" aria-label="Remove comment">
					  <span aria-hidden="true">&times;</span>
					</button>
				</form>
			</div>	
			<% } %>
		</div>
	<% } %>
</div>
<% } %>
<% if (currentUser) { %>
<div class="container">
  <div class="col col-sm-8 col-md-6 col-lg-5 col-xl-4 p-0 text-white">
    <h4 class="text-center mt-4 text-warning">
    Add a new comment:
    </h4>
    <form action="/elements/<%= element._id %>/comment" method="post">
      <div class="form-group">
        <label for="newComment"> NEW COMMENT:</label>
        <textarea class="form-control" name="comment[text]" value="" id="newComment"></textarea>
      </div>
      <div class="form-group">
        <label for="commentName">Author</label>
        <input type="text" class="form-control" name="comment[author]" value="<%= currentUser.username %>" id="commentName" placeholder="<%= currentUser.username %>" readonly>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-outline-success w-25">Add</button>
      </div>
    </form>
</div>

</div>
<% } else { %>
<div class="container text-center">
	<span class="text-warning">
		You need to be signed in to add comments
	</span>
</div>
<% } %>

<script>
  const modal = document.querySelector("#myModal");
  const img = document.querySelector('#mainImg');
  img.addEventListener('click', () => modal.style.display = 'block');
  //const span = document.querySelector('#modalClose');
  modal.addEventListener('click', () => modal.style.display = 'none');
  document.addEventListener('keydown', () => modal.style.display = 'none');
  
</script>

<%- include('partials/footer') %>