<%- include('partials/header') %>

<div class="container my-3">
  <div class="col col-sm-8 col-md-6 col-lg-5 col-xl-4 text-white">
    <form id="elementSearchForm" action="/elements" method="GET">
      <div class="form-group">
        <label for="search">Search for an element:</label>
        <input type="text" class="form-control" name="search" id="search">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-outline-success mr-5 w-25">Search</button>
        <button type="button" id="clear" class="btn btn-outline-success w-25">Clear</button>
      </div>
    </form>
  </div>
</div>

<div class="container my-4">
	<div class="row text-center">
	<% elements.forEach(el => { %>		
		<div class="col-lg-3 col-md-4 col-6">
			<a href="/elements/<%= el._id %>">
			<div class="d-block mb-4 h-100 text-success"> 
				 <%= el.name %> 
				<img class="img-fluid img-thumbnail m-1" src="<%= el.link %>">
			</div>
			</a>
		</div>
	<% }) %>
	</div>	
</div>

<% if (currentUser) { %>
<div class="container">
  <div class="col col-sm-8 col-md-6 col-lg-5 col-xl-4 text-white">
    <h4 class="text-center my-4 text-warning">
      Add a new element:
    </h4>
    <form action="/elements" method="POST" enctype="multipart/form-data">
      <div class="form-group">
        <label for="nameInput">Name</label>
        <input type="text" class="form-control" name="element[name]" placeholder="Enter name" value="" id="nameInput" required>
      </div>
      <div class="form-group">
        <label for="imageFile">Link</label>
        <input type="file" class="form-control-file" name="image" accept="image/*" value="" id="imageFile" required>
      </div>
      <div class="form-group">
        <label for="desc">Description</label>
        <input type="text" class="form-control" name="element[description]" placeholder="Enter description" value="" id="desc">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-outline-success w-25">Add</button>
      </div>
    </form>
  </div>
</div>


<% } else { %>
<div class="container">
	<h4 class="text-center my-4 text-warning">
		You need to be signed in to add comments
	</h4>
</div>
<% } %>
<script>
  const clearButton = document.querySelector("#clear");
  const searchForm = document.querySelector("#elementSearchForm");
  clearButton.addEventListener('click', () => {
    searchForm.reset();
    searchForm.submit();
  });
</script>
<%- include('partials/footer') %>