<%- include('partials/header') %>

<div class="container-flex m-4">
	<div class="row text-center">
	<% elements.forEach(el => { %>		
		<div class="col-lg-3 col-md-4 col-6">
			<a href="/elements/<%= el._id %>">
			<div class="d-block mb-4 h-100 text-success"> 
				 <%= el.name %> 
				<img class="img-fluid img-thumbnail m-1" src="<%= el.link %>">
			</div>
			</a>
		</div>
	<% }) %>
	</div>	
</div>

<% if (currentUser) { %>
<div class="container">
	<h4 class="text-center my-4 text-warning">
		Add a new element:
	</h4>
</div>
<div class="col-10 col-md-8 col-lg-5 m-5 text-white">
	<form action="/elements" method="post">
		<div class="form-group">
			<label for="nameInput">Name</label>
			<input type="text" class="form-control" name="element[name]" placeholder="Enter name" value="" id="nameInput">
		</div>
		<div class="form-group">
			<label for="linkInput">Link</label>
			<input type="text" class="form-control" name="element[link]" placeholder="Enter link" value="" id="linkInput">
		</div>
		<div class="form-group">
			<label for="desc">Description</label>
			<input type="text" class="form-control" name="element[description]" placeholder="Enter description" value="" id="detailsInput">
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-outline-success">Add</button>
		</div>
	</form>
</div>
<% } else { %>
<div class="container">
	<h4 class="text-center my-4 text-warning">
		You need to be signed in to add comments
	</h4>
</div>
<% } %>

<%- include('partials/footer') %>