<%- include('partials/header') %>

<div class="container my-3 px-4 pt-2 text-white rounded-lg searchDiv">
  <form id="elementSearchForm" action="/elements" method="GET">
      <div class="form-row justify-content-between">
          <div class="form-group col-8 col-md-7 col-lg-6 col-xl-5">
            <label for="search">Search for an image:</label>
            <input type="text" class="form-control" name="search" id="search">
          </div>
          <div class="form-group col-2 col-md-1 p-0">
            <label for="resultsPerPage" class="form-control-sm text-nowrap pl-0">Results</label>
            <select id="resultsPerPage" name="resultsPerPage" class="form-control form-control-sm">
              <option <% if (resultsPerPage === 12) { %> selected="" <% } %> > 12 </option>
              <option <% if (resultsPerPage === 18) { %> selected="" <% } %> > 18 </option>
              <option <% if (resultsPerPage === 24) { %> selected="" <% } %> > 24 </option>
            </select>
          </div>
      </div>
    <% if (currentUser) { %>
    <div class="form-row">
      <div class="form-group">      
        <div data-toggle="buttons" class="btn-group btn-group-toggle">
          <% currentUser.tags.forEach((tag) => { %>
          <label class="btn btn-sm btn-outline-warning border-0"><%= tag %>
            <input class="form-check-input" type="checkbox" name="tags" value="<%= tag %>">
          </label>
          <% }) %>
          <label class="btn btn-sm btn-outline-warning border-0">Unknown
            <input class="form-check-input" type="checkbox" name="tags" value="Unknown">
          </label>
        </div>
      </div>
    </div>
    <% } %>
      <div class="form-row mb-3">
        <div class="form-group col-8 col-md-7 col-lg-6 col-xl-5 d-flex justify-content-around">
          <button type="submit" class="btn btn-outline-success px-2 px-md-4">Search</button>
          <button type="button" id="clear" class="btn btn-outline-success px-2 px-md-4">Clear</button>
        </div>
    </div>
  </form>
</div>

<% if (searchVal) { %>
<div class="container">
  <h4 class="text-warning">
    Searching for <%= searchVal %>
    <% if (numOfResults == 0) { %>
    - no results found
    <% } %>
  </h4>
</div>

<% } %>
<div class="container my-4 text-center p-0 d-flex align-content-start flex-wrap">
	<% elements.forEach(el => { %>		
		<div class="div-gallery col-xl-4 col-md-6 col-12">
			<a href="/elements/<%= el._id %>">
			<div class="d-flex align-items-center flex-column mb-4 h-100 text-success"> 
        <span class="title-gallery pb-2"><%= el.name %> </span>
        <% // Change URL to transform images to 300x300 with auto fill 
          let split = el.link.split('/');
          split[split.length - 2] = 'w_300,h_300,c_fill,g_auto'; 
          el.link = split.join('/'); 
        %>
				<img class="img-gallery img-fluid img-thumbnail m-0" src="<%= el.link %>">
			</div>
			</a>
		</div>
	<% }) %>
</div>

    <% if (pages > 1) { %>
    <% let address = currentPage.replace(/page=\d+$/, ''); %> 
    <% if (currentPage == '/elements') { %>
    <%   address += '?'; %>
    <% } else if (!address.endsWith('?') && !address.endsWith('&')) { %>
    <%   address += '&'; %>
    <% } %>
    
    <div class="form-row pt-3 justify-content-center border-top border-secondary pageControl">
      <div class="col col-sm-10 col-lg-8 col-xl-6">
        <div class="form-group m-0 pb-3 d-flex justify-content-center">
          <% if (page != 1) { %>
          <a href="<%= `${address}page=${parseInt(page)-1}`  %>" id="previousPage" class="btn btn-outline-light w-25"> Previous page </a>
          <% } %>
          <input type="text" id="currentPage" value="Page <%= page %> of <%= pages %>"  class="form-control-plaintext w-25 text-center text-light" readonly>
          <% if (page != pages) { %>
          <a href="<%= `${address}page=${parseInt(page)+1}` %>" id="nextPage" class="btn btn-outline-light w-25"> Next page </a>
          <% } %>
        </div>
      </div>
    </div>
    <% } %>

<% if (currentUser) { %>

<div class="container">
  <div class="col col-sm-8 col-md-6 col-lg-5 col-xl-4 text-white">
    <h4 class="text-center my-4 text-warning">
      Add a new element:
    </h4>
    <form action="/elements" method="POST" enctype="multipart/form-data">
      <div class="form-group">
        <label for="nameInput">Name</label>
        <input type="text" class="form-control" name="element[name]" placeholder="Enter name" value="" id="nameInput" required>
      </div>
      <div class="form-group">
        <label> Image </label>
        <div class="custom-file">
          <label class="custom-file-label" for="imageFile">Drag image here</label>
          <input type="file" class="custom-file-input" name="image" accept="image/*" value="" id="imageFile" required>
        </div>
      </div>
      <div class="form-group">
        <label for="desc">Description</label>
        <input type="text" class="form-control" name="element[description]" placeholder="Enter description" value="" id="desc">
      </div>
      <div class="form-group">
        <label for="desc">Date created</label>
        <input type="text" class="form-control" name="element[description]" placeholder="Enter description" value="" id="desc">
      </div>
      <div class="form-group">      
        <label> Tag image </label>
        <div data-toggle="buttons" class="btn-group btn-group-toggle">
          <% currentUser.tags.forEach((tag) => { %>
          <label class="btn btn-sm btn-outline-warning border-0"><%= tag %>
            <input class="form-check-input" type="checkbox" name="element[tags]" value="<%= tag %>">
          </label>
          <% }) %>
          <label class="btn btn-sm btn-outline-warning border-0">Unknown
            <input class="form-check-input" type="checkbox" name="element[tags]" value="Unknown">
          </label>
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-outline-success px-2 px-md-4">Add</button>
      </div>
    </form>
  </div>
</div>


<% } else { %>
<div class="container">
	<h4 class="text-center my-4 text-warning">
		You need to be signed in to add images
	</h4>
</div>
<% } %>
<script type="text/javascript">
  const clearButton = document.querySelector("#clear");
  const searchForm = document.querySelector("#elementSearchForm");
  const searchField = document.querySelector("#search");
  const resultsPerPageDropdown = document.querySelector("#resultsPerPage");
  
  resultsPerPageDropdown.addEventListener('change', () => searchForm.submit());
  clearButton.addEventListener('click', () => {
    searchForm.reset();
    searchForm.submit();
  });
  
  $(".custom-file-input").on("change", function() {
    const fileName = $(this).val().split("\\").pop();
    $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
  });  
</script>
<%- include('partials/footer') %>